* {
  webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}
body {
  background: #008040;
  color: #fff;
  font-family: 'OpenSansLight', Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  webkit-text-size-adjust: none;
  webkit-touch-callout: none;
  webkit-user-select: none;
  width: 100%;
}
.app {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px 0px 30px;
  text-align: center;
}
.event {
  border-radius: 4px;
  bottom: 10px;
  color: #FFFFFF;
  display: block;
  font-size: 12px;
  left: 0;
  margin: 0px 30px;
  padding: 5px;
  position: fixed;
  right: 0;
  webkit-border-radius: 4px;
}
.event.listening {
  background-color: #333333;
  display: block;
}
.event.received {
  background-color: #4B946A;
  display: none;
}

@keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}
.blink {
  animation: fade 3000ms infinite;
  webkit-animation: fade 3000ms infinite;
}

@keyframes enforcer {
  from {
    background-color: #FF6666;
  }
  50% {
    background-color: #000;
  }
  to {
    background-color: #FF6666;
  }
}
@-webkit-keyframes enforcer {
  from {
    background-color: #FF6666;
  }
  50% {
    background-color: #000;
  }
  to {
    background-color: #FF6666;
  }
}

#timer {
  clear: both;
  font-family: 'OpenSans';
  font-size: 45px;
  font-weight: 700;
  padding: 0 0 40px 0;
  letter-spacing: 0.15em;
  width: 100%;
}

.btns {
  padding: 0 0 10px;
}
.btn {
  background: #CCFF66;
  color: #333;
  float: left;
  font-size: 16px;
  margin: 0 0 10px;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

.group:after {
  clear: both;
  content: "";
  display: table;
}

#message {
  background-color: #000;
  background-color: rgba(0,0,0,0.5);
  margin: 20px 40px;
  padding: 20px;
  text-align: center;
}

body.enforcer {
  animation: enforcer 3000ms infinite;
  webkit-animation: enforcer 3000ms infinite;
}

body.break-success {
  background-color: #FFFF54;

  .btn {
    background: #FFDF54;
  }
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold-webfont.woff') format('woff'),
         url('OpenSans-Bold-webfont.ttf') format('truetype'),
         url('OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: 700;
    font-style: normal;

}